:root {
  --main-font: 'Montserrat Alternates', sans-serif;

  --new-black: #000;
  --new-white: #fff;
  --new-secondary-grey-color-1: #2c2c2c;
  --home-2-primary-color-1: #4b5354;

  --primari-bg-color: #fff;

  // animation

  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  // border
  // hover

  --new-22: #251add;

  //gap

  --Medium: 4px;
}
