<section class="description_section">
  <h2 class="description_title">Опис</h2>
  <p class="description_text-first">
    Lorem ipsum dolor sit amet consectetur. Malesuada maecenas quisque bibendum
    eu enim enim nunc tortor euismod. Elementum sed hac et eu nec. Aliquam
    venenatis lobortis viverra molestie fusce aliquam fermentum. Mattis quis
    cras nisi mi eget lacinia neque quam sapien.
  </p>
  <p class="description_text-second">
    Lorem ipsum dolor sit amet consectetur. Sit ipsum quisque iaculis egestas ut
    tellus. Mattis proin risus adipiscing adipiscing in a facilisis interdum
    cursus. Ipsum et sed duis scelerisque mauris nulla nisl viverra. Interdum
    dui et ut eu quis praesent dui porttitor sit. Pellentesque adipiscing
    aliquet amet velit vitae convallis. Nunc feugiat nunc egestas mauris diam
    volutpat. Sit ut malesuada fringilla sodales pretium ullamcorper. Justo
    vehicula tincidunt libero morbi dolor magna. Auctor risus leo facilisis vel
    nec mauris. Blandit eget donec blandit eleifend. Interdum integer dui
    phasellus a non. Augue leo in nec ac donec. Elementum etiam urna amet justo
    fermentum. Amet egestas eu lectus luctus at. Ipsum suscipit ultrices est dui
    aliquet. Amet fringilla senectus mi adipiscing mauris. Aliquet justo netus
    nullam arcu lectus. Molestie varius eleifend volutpat turpis fames aenean.
    Dictum egestas convallis adipiscing sed sit lobortis sem amet ornare.
    Elementum integer adipiscing lorem varius proin ut et sed. Orci gravida
    senect
  </p>
</section>
