<section class="fundraising_section">
  <h2 class="fundraising_title">
    Доставили близько 400 автівок військовослужбовцям
  </h2>
  <div class="fundraising_flex-box">
    <button type="button" class="fundraising_button-gathering">Зібрано</button>
    <div class="fundraising_like-container">
      <button class="fundraising_like-button">
        <svg
          class="fundraising_like-button__svg"
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 20 20"
          fill="none"
        >
          <path
            d="M18.75 7.1294C18.75 12.5981 10.6414 17.0247 10.2961 17.2075C10.2051 17.2565 10.1033 17.2821 10 17.2821C9.89665 17.2821 9.79492 17.2565 9.70391 17.2075C9.35859 17.0247 1.25 12.5981 1.25 7.1294C1.25145 5.8452 1.76223 4.61401 2.6703 3.70595C3.57837 2.79788 4.80955 2.28709 6.09375 2.28564C7.70703 2.28564 9.11953 2.97939 10 4.15205C10.8805 2.97939 12.293 2.28564 13.9062 2.28564C15.1904 2.28709 16.4216 2.79788 17.3297 3.70595C18.2378 4.61401 18.7486 5.8452 18.75 7.1294Z"
            fill="#251ADD"
          />
        </svg>
      </button>
      <span class="fundraising_like-count">0</span>
    </div>
  </div>

  <form class="fundraising_form">
    <div class="fundraising_first-form-box">
      <label for="slider" class="fundraising_title-form">Зібрано коштів</label>
      <span id="rangeValuePercentages" class="fundraising_percentages-value"
        >0%</span
      >
    </div>
    <input
      id="amountRaised"
      class="fundraising_input"
      type="range"
      min="0"
      max=""
      name="range"
      value="0"
      step="1"
    />
    <div class="fundraising_second-form-box">
      <span id="rangeValue" class="fundraising_value">0₴</span>
      <p class="fundraising_value-cash">
        /<span id="valueMany">1000000</span>₴
      </p>
    </div>
  </form>

  <div class="fundraising_flex-box-button">
    <button class="fundraising_custom-button">
      <div class="fundraising_button-left-element">
        <svg
          class="fundraising_button-left-element__svg"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
        >
          <path
            d="M7 17L17 7"
            stroke="white"
            stroke-width="1.25"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M7 7H17V17"
            stroke="white"
            stroke-width="1.25"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <span class="fundraising_button-text">Підтримати</span>
    </button>

    <button class="fundraising_custom-button">
      <div
        class="fundraising_button-left-element fundraising_button-left-element__second"
      >
        <svg
          class="fundraising_button-left-element__svg"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
        >
          <path
            d="M7 17L17 7"
            stroke="white"
            stroke-width="1.25"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M7 7H17V17"
            stroke="white"
            stroke-width="1.25"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <span class="fundraising_button-text">Детальніше</span>
    </button>
  </div>
</section>
