<section class="fundraising_section">
  <h2 class="fundraising_title">
    Доставили близько 400 автівок військовослужбовцям
  </h2>
  <div class="fundraising_flex-box">
    <button type="button" class="fundraising_button-gathering">Зібрано</button>
  </div>

  <div class="fundraising_flex-box-button">
    <button class="fundraising_custom-button">
      <div class="fundraising_button-left-element">
        <svg
          class="partnership_button-left-element__svg"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
        >
          <path
            d="M7 17L17 7"
            stroke="white"
            stroke-width="1.25"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M7 7H17V17"
            stroke="white"
            stroke-width="1.25"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <span class="fundraising_button-text">Підтримати</span>
    </button>

    <button class="fundraising_custom-button">
      <div class="fundraising_button-left-element">
        <svg
          class="fundraising_button-left-element__svg"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
        >
          <path
            d="M7 17L17 7"
            stroke="white"
            stroke-width="1.25"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M7 7H17V17"
            stroke="white"
            stroke-width="1.25"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <span class="fundraising_button-text">Детальніше</span>
    </button>
  </div>
</section>
