<div class="slider__container">
  <!-- slider -->
  <!-- <div class="slider">
    <div class="slider__wrapper">
      <div class="slider__items">
        <div class="slider__item">
          <img
            src="/examples/images/lighthouses/image-1-700x1000.jpg"
            alt="..."
            width="700"
            height="1000"
            loading="lazy"
          />
        </div>
        <div class="slider__item">
          <img
            src="/examples/images/lighthouses/image-2-700x1000.jpg"
            alt="..."
            width="700"
            height="1000"
            loading="lazy"
          />
        </div>
        <div class="slider__item">
          <img
            src="/examples/images/lighthouses/image-3-700x1000.jpg"
            alt="..."
            width="700"
            height="1000"
            loading="lazy"
          />
        </div>
        <div class="slider__item">
          <img
            src="/examples/images/lighthouses/image-4-700x1000.jpg"
            alt="..."
            width="700"
            height="1000"
            loading="lazy"
          />
        </div>
        <div class="slider__item">
          <img
            src="/examples/images/lighthouses/image-5-700x1000.jpg"
            alt="..."
            width="700"
            height="1000"
            loading="lazy"
          />
        </div>
        <div class="slider__item">
          <img
            src="/examples/images/lighthouses/image-6-700x1000.jpg"
            alt="..."
            width="700"
            height="1000"
            loading="lazy"
          />
        </div>
        <div class="slider__item">
          <img
            src="/examples/images/lighthouses/image-7-700x1000.jpg"
            alt="..."
            width="700"
            height="1000"
            loading="lazy"
          />
        </div>
        <div class="slider__item">
          <img
            src="/examples/images/lighthouses/image-8-700x1000.jpg"
            alt="..."
            width="700"
            height="1000"
            loading="lazy"
          />
        </div>
      </div>
    </div>
    <a
      class="slider__control slider__control_prev"
      href="#"
      role="button"
      data-slide="prev"
    ></a>
    <a
      class="slider__control slider__control_next"
      href="#"
      role="button"
      data-slide="next"
    ></a>
  </div> -->
  <!-- thumbnails -->
  <!-- <div class="slider__thumbnails">
    <div class="slider__thumbnails-item" data-slide-to="0">
      <img
        src="/examples/images/lighthouses/image-1-100x143.jpg"
        alt="..."
        width="100"
        height="143"
        loading="lazy"
      />
    </div>
    <div class="slider__thumbnails-item" data-slide-to="1">
      <img
        src="/examples/images/lighthouses/image-2-100x143.jpg"
        alt="..."
        width="100"
        height="143"
        loading="lazy"
      />
    </div>
    <div class="slider__thumbnails-item" data-slide-to="2">
      <img
        src="/examples/images/lighthouses/image-3-100x143.jpg"
        alt="..."
        width="100"
        height="143"
        loading="lazy"
      />
    </div>
    <div class="slider__thumbnails-item" data-slide-to="3">
      <img
        src="/examples/images/lighthouses/image-4-100x143.jpg"
        alt="..."
        width="100"
        height="143"
        loading="lazy"
      />
    </div>
    <div class="slider__thumbnails-item" data-slide-to="4">
      <img
        src="/examples/images/lighthouses/image-5-100x143.jpg"
        alt="..."
        width="100"
        height="143"
        loading="lazy"
      />
    </div>
    <div class="slider__thumbnails-item" data-slide-to="5">
      <img
        src="/examples/images/lighthouses/image-6-100x143.jpg"
        alt="..."
        width="100"
        height="143"
        loading="lazy"
      />
    </div>
    <div class="slider__thumbnails-item" data-slide-to="6">
      <img
        src="/examples/images/lighthouses/image-7-100x143.jpg"
        alt="..."
        width="100"
        height="143"
        loading="lazy"
      />
    </div>
    <div class="slider__thumbnails-item" data-slide-to="7">
      <img
        src="/examples/images/lighthouses/image-8-100x143.jpg"
        alt="..."
        width="100"
        height="143"
        loading="lazy"
      />
    </div>
  </div>
</div> -->
</div>
