.fundraising_section {
  margin-bottom: 64px;
}

.fundraising_title-first {
  margin-bottom: 24px;

  color: var(--new-black);

  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  @media screen and (min-width: 1440px) {
    display: none;
  }
}

.fundraising_title-second {
  display: none;

  @media screen and (min-width: 1440px) {
    display: block;
    margin-bottom: 24px;

    color: var(--new-black);

    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

.fundraising_flex-box {
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: 768px) {
    margin-bottom: 64px;
  }
}

.fundraising_button-gathering {
  border: none;
  border-radius: 8px;
  background: var(--new-22);
  display: inline-flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  gap: 5px;

  color: var(--new-white);

  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.fundraising_like-container {
  display: flex;
  gap: 5px;
  align-items: center;
}

.fundraising_like-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  padding: 0;
}

.fundraising_like-count {
  color: var(--new-black);

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
}

.fundraising_form {
  margin-bottom: 32px;

  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    margin-bottom: 64px;
  }
}

.fundraising_title-form {
  color: var(--new-black);

  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 16.8px */
}

.fundraising_first-form-box {
  margin-bottom: 10px;

  display: flex;
  justify-content: space-between;
}

// .fundraising_input {
//   margin-bottom: 10px;
//   appearance: none;

//   border-radius: 6px;
//   background: var(--new-22);

//   height: 5px;
//   flex-shrink: 0;

//   padding: 0;
// }

// .fundraising_input::-webkit-slider-runnable-track {
//   height: 0;
//   appearance: none;
//   color: var(--new-22);
//   margin-top: -1px;
// }

.fundraising_input {
  margin-bottom: 10px;

  -webkit-appearance: none;
  appearance: none;
  height: 5px;
  padding: 0;
  border-radius: 6px;
  background: var(--new-22);
}

/* Стилі для не заповненого повзунка */
.fundraising_input::-webkit-slider-runnable-track {
  height: 5px;
  border-radius: 6px;
  color: var(--new-secondary-grey-color-1);
}

/* Стилі для бігунка (thumb) */
.fundraising_input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 5px;
  height: 5px;
  background-color: #251add;
  border-radius: 50%;
  margin-top: 0px;
}

.fundraising_second-form-box {
  display: flex;
}

.fundraising_value .fundraising_value-cash {
  color: var(--new-black);

  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 16.8px */
}

.fundraising_percentages-value {
  color: var(--new-black);

  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 16.8px */
}

.fundraising_flex-box-button {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media screen and (min-width: 768px) {
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
  }
}

.fundraising_custom-button {
  height: 41px;
  background: var(--new-white);
  display: inline-flex;
  padding: 0px 8px 0px 0px;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 60px;
  border-width: 1px 1px 1px 0;
  border-style: solid;
  border-color: var(--new-secondary-grey-color-1);
}

.fundraising_custom-button:hover .fundraising_button-left-element__svg,
.fundraising_custom-button:focus .fundraising_button-left-element__svg {
  transform: rotate(45deg);
  transition: var(--transition);
}

.fundraising_button-left-element {
  display: flex;
  width: 41px;
  height: 41px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 60px;
  background: var(--new-22);
}

.fundraising_button-left-element__second {
  background: var(--new-secondary-grey-color-1);
}

.fundraising_button-left-element__svg {
  width: 24px;
  height: 24px;

  transition: var(--transition);
}

.fundraising_button-text {
  color: var(--new-secondary-grey-color-1);

  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    font-weight: 600;
  }
}
