.image-swiper_section {
  margin-bottom: 64px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-swiper_gallery {
  display: flex;
  gap: 10px;

  overflow: hidden;

  @media screen and (min-width: 768px) {
    gap: 29px;
  }

  @media screen and (min-width: 1440px) {
    gap: 20px;
  }
}

.image-swiper_large-image {
  margin-bottom: 20px;

  width: 346px;
  height: 177px;

  @media screen and (min-width: 768px) {
    width: 680px;
    height: 363px;

    margin-bottom: 24px;
  }

  @media screen and (min-width: 1440px) {
    width: 651px;
    height: 346px;

    margin-bottom: 11px;
  }
}

.image-swiper_navigation__svg {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;

    margin-left: auto;

    margin-bottom: 12px;
  }

  @media screen and (min-width: 1440px) {
    margin-right: 1px;
  }
}

.thumbnail {
  width: 100px;
  height: 75px;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    width: 148px;
    height: 111px;
  }
}
