.partnership_section {
  padding: 32px 17px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(37, 26, 221, 0.2);

  @media screen and (min-width: 768px) {
    padding: 32px 27px;
  }

  @media screen and (min-width: 1440px) {
    padding: 32px 96px;
  }
}

.partnership_title {
  margin-bottom: 34px;

  color: #000;

  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  @media screen and (min-width: 768px) {
    font-size: 28px;
  }
}

.partnership_flex-box {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media screen and (min-width: 768px) {
    display: inline-flex;
    flex-direction: row;
    // padding: 0px 187px 0px 194px;
    justify-content: flex-end;
    align-items: center;
  }
}

.partnership_custom-button {
  height: 41px;
  display: inline-flex;
  padding: 0px 8px 0px 0px;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 60px;
  border-width: 1px 1px 1px 0;
  border-style: solid;
  border-color: var(--new-secondary-grey-color-1);
}

.partnership_custom-button:hover .partnership_button-left-element__svg,
.partnership_custom-button:focus .partnership_button-left-element__svg {
  transform: rotate(45deg);
  transition: var(--transition);
}

.partnership_button-left-element {
  display: flex;
  width: 41px;
  height: 41px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 60px;
  background: var(--new-22);
}

.partnership_button-left-element__second {
  background: var(--new-secondary-grey-color-1);
}

.partnership_button-left-element__svg {
  width: 24px;
  height: 24px;

  transition: var(--transition);
}

.partnership_button-left-element__phone {
  width: 13.122px;
  height: 13.125px;
}

.partnership_button-text {
  color: var(--new-secondary-grey-color-1);

  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.partnership_button-text-first {
  color: var(--new-secondary-grey-color-1);

  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 12px */
}

.partnership_button-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--Medium);
}
